<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATAACCESS.Properties.Settings.con" connectionString="Data Source=DESKTOP-C9D7TJS\SQLEXPRESS;Initial Catalog=votebem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>