<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATAACCESS.Properties.Settings.con" connectionString="Data Source=SNPRT02LABF19\MSSQLSERVERTDS;Initial Catalog=lanchonete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>